body {
    color: #ffffff;
    background-color: #2b3137;
    text-align: justify;
}
.page-fluid {
    background-color: black;
}
.custom_content {
    color: #ffffff;
    background-color: #2b3137;
}
.custom_side{
    color: #fafbfc;
    background-color: #363c41;
}
pre {
    color:#fafbfc;
    background-color: #24292e;
}
.selectize-input {
    color:#2dba4e
}
